## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
packages/

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Inno Setup
installer/Output/

## OS
Thumbs.db
.DS_Store

## IDE
.idea/
*.resharper
